.badge-left{
    margin-right: 0.6em;
    margin-top: 0em;
}

.badge-right{
    margin-right: 0.6em;
    margin-top: 0.6em;
}

.badge-left .badge:hover,.badge-right .badge:hover{
    background-color: gray;
}

label small{
    color:gray;    
}

/* Large desktop */
@media (min-width: 1200px) {
    body {
        padding-top: 40px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }

/* Landscape phones and down */
@media (max-width: 480px) {
    #links .badge{
        display: none;
        visibility:hidden;
    }
}
