/*
Desktop
*/
*{
    border:0;
    padding:0;
}
body{
    padding: 0; margin: 0px;
}
/*
Tags desktop
*/
button.block,label{
    cursor:pointer;
}
ol,ul{
    margin-left:2em;
}
table{
    border-collapse: collapse;
    margin:0 auto;
    width:100%;
}
td{
    vertical-align: top;
}
/*
Classes desktop
*/
.block, label{
    display:block;
    width:100%;
}
.input-text,button{
    background-color:#f6f6f6;
    border:1px solid gray;
    padding:1em;
}
.input-text.block,button{
    width:calc(100% - 2em - 2px);
}
.loading-overlay {
  display: table;
  opacity: 0.7;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

  /* IE 5-7 */
  filter: alpha(opacity=70);
}
.loading-overlay-content {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 1.15em;
  font-weight: bold;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.loading-overlay.loading-theme-light {
  background-color: #fff;
  color: #000;
}
.loading-overlay.loading-theme-dark {
  background-color: #000;
  color: #fff;
}

/*
IDs desktop
*/
#btnIrParaOTopo {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
}
#btnIrParaOTopo:hover {
  background-color: #555;
  color:white;
}
/*
Mobile
*/
@media all and (max-width: 799px) {
    h1{
        text-align:center;
    }
    td {
        display:inline-block;
        width: 100%;
    }
}
